<%- include('partials/header'); %>

    <h1>Home</h1>
    <p><%= homeStartingContent %></p>

    <% blogPosts.forEach(function(i) { %>
        <h2><%= i.title %></h2>
        <p><%= i.truncBody %> <a href=<%= "/posts/" + i.kebabTitle %>>Read More</a></p>
    <% }); %>

<%- include('partials/footer'); %>
